<div class="paraeltop"></div>
<iframe width='100%' height='475px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/marknatera.l8ff3j6o/attribution,geocoder,share.html?access_token=pk.eyJ1IjoibWFya25hdGVyYSIsImEiOiJaU1BLcl9NIn0.IPz03ag_AFq_44TdoNj_Ng'></iframe>
<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p><strong>Miami Beach Convention Center</strong></p>
        <p>P 305.673.7311<br>1901 Convention Center Drive, Miami Beach, Florida 33139</p>
        <br>
        <a href="#" class="btn btn-member">Download Directions</a>
      </div>
    </div>
  </div>
</section>
<section class="travel-directions">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Routes To The Miami Beach<br>Convention Center</h2>
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <p><strong>Take 836 East toward “Beaches” and follow Directions from South.</strong></p>
        <p>Directions from South: 1-95 Northbound, exit 395 East (MacArthur Causeway) to Alton Road North, right on 17th Street, left on Convention Center Drive.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <p><strong>Take 112 East toward “Beaches” and follow Directions from North.</strong></p>
        <p>Directions from North: 1-95 Southbound, exit 195 East (Julia Tuttle Causeway) to Alton Road South, left on 17th Street, left on Convention Center Drive.</p>
      </div>
    </div>
  </div>
</section>
<section class="travel-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 vcenter">
        <h2>Hotels</h2>
        <p>Please contact the SAF office directly</p>
        <p><strong>Phone: 305.596.7889<br>Fax: 305.596.7713<br>E-mail: info@swimshow.com</strong></p>
        <p>Please note: We DO NOT work with any hotel booking agencies.</p>
        <p>Please do not book through any hotel booking agencies that contact you<br>directly stating they are working with this association.</p>
        <p>We do not utilize any of these services and do not recommend any of them.</p>
      </div>
      <div class="col-sm-12 col-md-6 vcenter">
        <%= image_tag 'hotel.jpg', class: 'img-responsive' %>
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="row vcenter">
      <div class="col-sm-12 col-md-6">
        <div>
          <%= image_tag 'restaurant.jpg', class: 'img-responsive' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div>
          <h2>Restaurants</h2>
          <p>Take a look at the different restaurants in Miami.</p>
          <a href="" class="btn btn-member">View Restaurants</a>
        </div>
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Miami Nightlife</h2>
        <p>Get to know some of the places around Miami to have the night of your life.</p>
        <a href="" class="btn btn-member">View places</a>
      </div>
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'night-life.jpg', class: 'img-responsive' %>
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'transportation.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-sm-12 col-md-6">
        <h2>Transportation</h2>
        <p>Shuttle Bus Service:</p>
        <a href="" class="btn btn-member">Current Shuttle Service</a>
        <p>Scooter Service:<br>Swimwear Association of Florida will provide free scooter transportation for those unable to walk the tradeshow. The scooters will be available at the ‘D’ hall registration area, located on the Convention Center Drive side of the building.</p>
        <p>If you would like to reserve your scooter in advance,<br>please contact the SAF office</p>
        <p><strong>Phone: 305.596.7889</strong></p>
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Airport Shuttle</h2>
        <p>Use Promo Code DLLLR to receive a 20% discount on airport transportation.</p>
        <br>
        <a href="" class="btn btn-member">Super Shuttle</a>
      </div>
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'airport-shuttle.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>










</section>
